.woocommerce-product-label-gallery {
	overflow: hidden;
}

.woocommerce-product-label-gallery .woocommerce-product-label-image {
    float: left;
    max-width: 6em;
    margin-right: .5em;
    margin-bottom: .5em;
}

.post-type-archive-product .woocommerce-product-label-gallery .woocommerce-product-label-image {
    max-width: 4em;
}